* {
  box-sizing: border-box;
}
body {
  background-color: aliceblue;
}
.top {
  background-color: ivory;
  width: 850px;
  height: 300px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.nav {
  background-color: ivory;
  border: 1px solid black;
  text-decoration: none;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.nav > a {
  text-decoration: none;
  background-color: lightgray;
  padding: 5px;
  margin: 10px;
}
.buttons {
  display: flex;
  justify-content: flex-end;
  width: 800px;
  padding: 10px;
}
.profilepic {
  background-color: cornsilk;
  height: 150px;
  width: 150px;
  border: 1px solid black;
  position: absolute;
  left: 250px;
  top: 175px;
}
.container {
  background-color: lightgray;
  display: flex;
  margin: auto;
  width: 850px;
  height: 850px;
  justify-content: center;
}
.left {
  background-color: lightyellow;
  border: 1px dashed black;
}
.right {
  background-color: linen;
  border: 1px dashed black;
}
